<html ng-app="Compression">
  <head>
    <title>CS240 Compression Algorithms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/API.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>CS240 Compression Algorithms</h1>
    <div class = "input-panel">
      <form ng-submit="submit()" class="input-form">
        <fieldset>
            <h3>Plain Text</h3>
            <textarea ng-model="data" rows="4" cols="50" name ="message"></textarea>
            </br>
            <input type="radio" ng-model="method" value="BWT">BWT</input>
            <input type="radio" ng-model="method" value="MTF">MTF</input>
            <input type="radio" ng-model="method" value="LZW">LZW</input>
            <input type="radio" ng-model="method" value="RLE">RLE</input>
            <input type="radio" ng-model="method" value="Huffman">Huffman</input>
            </br>
            <input type = "submit" value="Encode" class = "Encode button"></input>
        </fieldset>
      </form>
    </div>
    <div class ="output-panel">
    <h3>Encoding</h3>
    <textarea ng-model="response" rows="4" cols="50"> </textarea>
    </br>
    <button class = "Decode button">Decode</button>
    </div>
  </body>
</html>
