<html ng-app="Compression">
  <head>
    <title>CS240 Compression Algorithms</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.1/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/API.js"></script>
    <script src="scripts/services/highlight.js"></script>
    <script src="config/config.js"></script>
    <script src="scripts/directives/data.js"></script>
    <script src="scripts/directives/tree.js"></script>
    <script src="scripts/directives/table.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="styles/css" href="styles/styles.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
    
    <h2> CS240 Compression Algorithms </h2>
    <h5><b>INPUT</b></h5>
    
    <div class = "input-panel well well-small">
      <form ng-submit="submit()" role="form" class="form-default">
        <div class="form-group">
          <textarea ng-model="data" ng-change="dataChanged()" rows="4" cols="50" name ="message" id="plainText" class="form-control" placeholder="Enter text you want to encode..."></textarea>
        </div>
        <label>Compression Method:</label>
        <div class="float-right">
          <label ng-if="data">Input Size (Bits):</label>
          <p class="inline">{{size}}</p>
        </div>
        <div class="form-group">
          <label ng-repeat="method in methods" class="radio-inline">
            <input type="radio" ng-model="$parent.method" ng-value="method"></input>
            {{method}}
          </label>
        </div>
        <button type = "submit" value="Encode" class="btn btn-primary">Encode</button>
      </form>
    </div>
    
    <div ng-if="submitted">
      <h5><b>{{response.method}} ENCODING</b></h5>
      <div class="ouput-panel well well-small">
        <div>
          <label>Compression ratio:</label>
          <span>{{ratio}}</span>
        </div>
        <div ng-if="info">
        <div class="row">
          <div class="col-md-6">
          <uib-tabset class="text-display">
            <uib-tab  ng-repeat="type in response.encoding.formats" heading={{type}}>
              <data type="response.method" ng-model="info"></data>
            </uib-tab> 
          </uib-tabset>
          <button 
            class="btn btn-default btn-data" 
            ng-if="response.encoding.percent < 1"
            ng-click="expand()"
            >
            ...more
          </button>
        </div>
        <div ng-if="response.encoding.table && response.method=='LZW'">
          <div class="col-md-6 transparent panel panel-default" >
            <div class="panel-heading heading-big">LZW Table</div>
            <div class="row">
              <div class="col-md-6">
                <encoding-table type="'output'" ng-model="response.encoding.table.output">
                </encoding-table>
              </div>
              <div class="col-md-6">
                <encoding-table type="'symbol'" ng-model="response.encoding.table.symbol">
                </encoding-table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          
          <div class="panel panel-default panel-transparent" ng-if="response.encoding.table && response.method=='RLE'">
            <div class="panel-heading heading-big">RLE Table</div>
            <encoding-table type="'RLE'" ng-model="response.encoding.table"></encoding-table> 
          </div>
          <div class="panel panel-default"  ng-if="huffmanTree">
            <div class="panel-heading heading-big">Huffman Tree</div>
            <div class="tree clearfix">
              <div ng-style="{'overflow': 'auto'}"></div>
              <ul id="rootContainer">
                <tree id="root" ng-model="huffmanTree"></tree>
              </ul>
            </div>
          </div>
          </div>
        </div>
        </div>
        <button class="btn btn-primary">Decode</button>
      </div>
    </div>
  </body>
  
</html>
