<html ng-app="Compression">
  <head>
    <title>CS240 Compression Algorithms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.1.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/API.js"></script>
    <script src="scripts/directives/tree.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="styles/css" href="styles/styles.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
    
    <h2> CS240 Compression Algorithms </h2>
    <h5><b>INPUT</b></h5>
    
    <div class = "input-panel well well-small">
      <form ng-submit="submit()" role="form" class="form-default">
        <div class="form-group">
          <textarea ng-model="data" ng-change="dataChanged()" rows="4" cols="50" name ="message" id="plainText" class="form-control" placeholder="Enter text you want to encode..."></textarea>
        </div>
        <label>Compression Method:</label>
        <div class="float-right">
          <label ng-if="data">Input Size (Bits):</label>
          <p class="inline">{{size}}</p>
        </div>
        <div class="form-group">
          <label ng-repeat="method in methods" class="radio-inline">
            <input type="radio" ng-model="$parent.method" ng-value="method"></input>
            {{method}}
          </label>
        </div>
        <button type = "submit" value="Encode" class="btn btn-primary">Encode</button>
      </form>
    </div>
    
    <div ng-if="submitted">
      <h5><b>{{response.method}} ENCODING</b></h5>
      <div class="ouput-panel well well-small">
        <div>
          <label>Compression ratio:</label>
          <span>{{ratio}}</span>
        </div>
        <div ng-if="info">
        <div class="row">
          <div class="col-md-6">
          <uib-tabset class="text-display">
            <uib-tab  ng-repeat="type in types" heading={{type}}>
              <span 
                ng-repeat="entry in info"
                uib-tooltip="This byte represents the algorithm used"
                tooltip-placement="right" 
                tooltip-enable="entry.field=='header'" 
                class="{{entry[type]}}"
                ng-Mouseover="mouseOver(entry.binary)"
                ng-Mouseleave="mouseLeave(entry.binary)"
              >
              {{entry[type]}}
              </span></uib-tab>
            
          </uib-tabset>
        </div>
        <div ng-if="response.encoding.table && response.method=='LZW'">
          <div class="col-md-6 transparent panel panel-default" >
            <div class="panel-heading heading-big">LZW Table</div>
            <div class="row">
            <div class="col-md-6">
            <table class="table table-striped table-hover table-display">
              <tr>
                <td ng-repeat="col in response.encoding.table.output.columns">
                {{col}}
                </td>
              </tr>
              <tr ng-repeat="entry in response.encoding.table.output.entries">
                <td 
                  ng-repeat="col in response.encoding.table.output.columns"
                  class="{{entry[col]}}"
                  ng-Mouseover="mouseOver(entry[col])"
                  ng-Mouseleave="mouseLeave(entry[col])">
                {{entry[col]}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-striped table-hover table-display">
              <tr>
                <td ng-repeat="col in response.encoding.table.symbol.columns">
                {{col}}
                </td>
              </tr>
              <tr ng-repeat="entry in response.encoding.table.symbol.entries">
                <td ng-repeat="col in response.encoding.table.symbol.columns">
                {{entry[col]}}
                </td>
              </tr>
            </table>
          </div>
          </div>
          </div>
        </div>

        <div class="col-md-6">
          
          <div class="panel panel-default panel-transparent" ng-if="response.encoding.table && response.method=='RLE'">
            <div class="panel-heading">RLE Table</div>
            <table class="table table-striped table-hover">
              <tr>
                <td>Runs</td>
                <td>Run length</td>
              </tr>
              <tr ng-repeat="entry in response.encoding.table">
                <td>{{entry.run}}</td>
                <td>{{entry.runLength}}</td>
              </tr>
            </table>
          </div>
          <div class="panel panel-default"  ng-if="huffmanTree">
            <div class="panel-heading">Huffman Tree</div>
            <div class="tree clearfix">
              <div ng-style="{'overflow': 'auto'}"></div>
              <ul id="rootContainer"><tree id="root" ng-model="huffmanTree"></tree></ul>
            </div>
          </div>
          </div>
        </div>
        </div>
        <button class="btn btn-primary">Decode</button>
      </div>
    </div>
  </body>
</html>
